<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mapper.MemberMapper">

    <select id="selectMemberList" resultType="java.util.HashMap">
        select * from product;
    </select>

	<insert id="insertMember" parameterType="com.example.test.vo.MemberVO">
	insert into product values(#{p_name},#{p_manufacturer},#{p_class},#{p_stock},now(),#{p_price},'F');
	</insert>
	
	<insert id="insertOrder" parameterType="com.example.test.vo.OrderVO">
	insert into product values(#{p_name},#{p_manufacturer},#{p_class},#{p_stock},now(),#{p_price}*#{p_stock},'T');
	</insert>
		
	<update id="updateMember" parameterType="com.example.test.vo.MemberVO">
	update product set p_stock=p_stock-(나간 재고량) where p_order='F' and p_name=#{p_name};
	</update>
	
	
	
	


    </mapper>